* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #cfd8dc;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../imgs/fondo-morado.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}