/* Component styles */
.form {
    display: flex;
    flex-direction: column;
}
  
.form input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}



.form input:focus {
border-color: #007bff;
outline: none;
}

.form .btn-primary {
padding: 10px;
border: none;
border-radius: 5px;
background-color: #007bff;
color: white;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.form .btn-primary:hover {
background-color: #0056b3;
}

.form .link {
display: block;
text-align: center;
margin-top: 15px;
color: #007bff;
}

.form .link:hover {
text-decoration: underline;
}

.card img {
display: block;
max-width: 100%;
height: auto;
margin: 0 auto 20px;
}

.card .profile-foto {
    border-radius: 50%;
    filter: drop-shadow(0 0 0.70rem #c8f8b1);
}

.cont {
    display: flex;
    align-items: center;
    width: 100%; 
    max-width: 800px; 
    margin-bottom: 20px;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.category {
    height: 80px;
    font-size: 1em;
    color: #FFFFFF ;
    flex-grow: 1; 
    text-align: left;
    margin-right: 20px;
    background-color: #3498db;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;
}